{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
  
*{
    font-family: 'Poppins', sans-serif;
  }
  
  
  .container{
    position: relative;
  }
  
  .container .card1{
    position: relative;
    width: 320px;
    height: 450px;
    background: #ffff;
    border-radius: 20px solid #222;
    overflow: hidden;
    border-radius:0 ;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border:1px solid #0e0d0d;;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .card1 .card1-header {
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    padding: 20px 25px;
    position: relative;
  }
  
  .container .card1:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg ,#9c28af,#fd2c72);;;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container .card1:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .container .card1:after{
    content: 'System Information';
    position: absolute;
    top: 50%;
    left: -50%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(212, 233, 20, 0.05)
  }
  
  .container .card1 .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .container .card1:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
      
  }
  
  .container .card1 .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
  }
  
  .container .card1 .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container .card1:hover .contentBx{
    height: 210px;
  }
  
  .container .card1 .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container .card1 .contentBx .size, .container .card1 .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container .card1:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container .card1:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container .card1 .contentBx .size h3, .container .card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container .card1 .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container .card1 .contentBx .size span:hover{
    background: #4bcff0;
  }
  
  .container .card1 .contentBx .color span{
    width: 20px;
    height: 20px;
    background: rgb(0, 255, 21);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container .card1 .contentBx .color span:nth-child(2){
    background: #5597e2;
  }
  
  .container .card1 .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .container .card1 .contentBx .color span:nth-child(4){
    background: #e91e63;
  }
  
  .container .card1 .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(41, 245, 245);
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(12, 12, 12);
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .container .card1:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
    
  }
  .txt-clr{
    color: rgb(24, 23, 23);
  }
  .card1 .card1-header h5:after {
    content: "";
    background-color: #04a9f5;
    position: absolute;
    left: -25px;
    top: 0;
    width: 4px;
    height: 20px;
  }
  .card1 .card1-header h5 {
    margin-bottom: 0;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
    position: relative;
  }

  
</style>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Syatem Analyser</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">System Information</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      <!-- main content -->
      <div class="main-body">
        <div class="page-wrapper">
        <!-- <div class="card"> -->
          <!-- row #1 -->
          <div class="row">
            <!-- card one 1 -->
            <div class="col-xl-4">
              <div class="container">
                <div class="card1 ">
                  <div class="imgBx">
                    <img src="">
                  </div>
                  <div class="contentBx">
                    <h3 class="txt-clr">Operating System</h3><br>
                      <div class="size">
                      <h1>{{des1.os}}</h1>
                    </div>
                      <a href="#">View</a>
                  </div>    
                </div>
              </div>
            </div>
            <!-- card one 1 ends -->
            <!-- card #2 -->
            <div class=" col-xl-4">
              <div class="container">
                <div class="card1">
                  <div class="imgBx">
                    <img src="">
                  </div>
                  <div class="contentBx">
                    <h3 class="txt-clr">Version</h3><br>
                      <div class="size">
                      <h1>{{des1.version}}</h1>
                    </div>
                      <a href="#">View</a>
                  </div>    
                </div>
              </div>
            </div>
            <!-- card #2 ends  -->
            <!-- card #3 -->
            <div class=" col-xl-4">
              <div class="container">
                <div class="card1">
                  <div class="imgBx">
                    <img src="">
                  </div>
                  <div class="contentBx">
                    <h3 class="txt-clr">Release</h3><br>
                      <div class="size">
                      <h1>{{des1.release}}</h1>
                    </div>
                      <a href="#">View</a>
                  </div>    
                </div>
              </div>
            
            </div>
             <!-- card 3 ends -->
          </div>
          <!-- Row ends -->
           <!-- row #2 -->
           <div class="row">
            <!-- card one 1 -->
            <div class=" col-xl-4">
              <div class="container">
                <div class="card1">
                  <div class="imgBx">
                    <img src="">
                  </div>
                  <div class="contentBx">
                    <h3 class="txt-clr">Machine</h3><br><br>
                      <div class="size">
                      <h1>{{des1.machine}}</h1>
                    </div>
                      <a href="#">View</a>
                  </div>    
                </div>
              </div>
            </div>
            <!-- card one 1 ends -->
            <!-- card #2 -->
            <div class=" col-xl-4">
              <div class="container">
                <div class="card1">
                  <div class="imgBx">
                    <img src="">
                  </div>
                  <div class="contentBx">
                    <h3 class="txt-clr">Processor</h3><br><br>
                      <div class="size">
                      <h4>{{des1.processor}}</h4>
                    </div>
                      <a href="#">View</a>
                  </div>    
                </div>
              </div>
             </div>
            <!-- card #2 ends  -->
            <!-- card #3 -->
            <div class=" col-xl-4">
              <div class="container">
                <div class="card1">
                  <div class="imgBx">
                    <img src="">
                  </div>
                  <div class="contentBx">
                    <h3 class="txt-clr">Node</h3><br><br>
                      <div class="size">
                      <h1>{{des1.node}}</h1>
                    </div>
                      <a href="#">View</a>
                  </div>    
                </div>
              </div>
            </div>
             <!-- card 3 ends -->
          </div>
          <!-- Row ends -->
        </div>
        </div>
      </div>
                        
    </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
